_schema-version: "3.1"
ID: Camunda-BTP-Integration
version: 1.0.0-alpha.1
description: "BTP Integration, part of Camunda's SAP Integration"
parameters:
  enable-parallel-deployments: true

modules:
  # app-router acting as primary traffic distributor
  - name: btp-integration-router
    type: approuter.nodejs
    path: router
    parameters:
      disk-quota: 512M
      memory: 256M
      enable-ssh: true
      routes: 
        - route: camunda-btp-integration.${default-domain}
    properties:
      # 15 minutes
      INCOMING_CONNECTION_TIMEOUT: 900000
    requires:
      - name: uaa
      - name: dest-camunda-btp-integration
      - name: conn-camunda-btp-integration
      - name: srv-binding
        group: destinations
        properties:
          forwardAuthToken: true
          name: srv_api
          url: "~{srv-url}"
      - name: ui-binding
        group: destinations
        properties:
          forwardAuthToken: true
          name: ui
          url: "~{ui-url}"
    build-parameters:
      ignore: ["xs-dev.json", "default-env.json"]
      builder: custom
      commands:
        - npm install --production

  # CAP services and business logic
  - name: btp-integration-srv
    type: nodejs
    path: core/gen/srv
    parameters:
      buildpack: nodejs_buildpack
      disk-quota: 1G
      memory: 512M
      enable-ssh: true
    properties:
      ZEEBE_ADDRESS: xxx
      ZEEBE_CLIENT_ID: xxx
      ZEEBE_CLIENT_SECRET: xxx
      ZEEBE_AUTHORIZATION_SERVER_URL: xxx
      ZEEBE_REST_ADDRESS: xxx
      ZEEBE_GRPC_ADDRESS: xxx
      ZEEBE_TOKEN_AUDIENCE: xxx
      CAMUNDA_CLUSTER_ID: xxx
      CAMUNDA_CLIENT_ID: xxx
      CAMUNDA_CLIENT_SECRET: xxx
      CAMUNDA_CLUSTER_REGION: xxx
      CAMUNDA_CREDENTIALS_SCOPES: xxx
      CAMUNDA_TASKLIST_BASE_URL: xxx
      CAMUNDA_OPTIMIZE_BASE_URL: xxx
      CAMUNDA_OPERATE_BASE_URL: xxx
      CAMUNDA_OAUTH_URL: xxx
    build-parameters:
      builder: custom
      commands:
        - echo "nothing to do, things are vendored :)"
    requires:
      - name: uaa
      - name: dest-camunda-btp-integration
      - name: conn-camunda-btp-integration
    provides:
      - name: srv-binding 
        properties:
          srv-url: ${default-url}

  # UI5 freestyle UI
  - name: btp-integration-ui
    type: html5
    path: fiori-app
    parameters:
      disk-quota: 1G
      memory: 256M
      enable-ssh: true
    build-parameters:
      builder: custom
      commands:
         - echo "nothing to do, things are vendored :)"
    requires:
      - name: uaa
      - name: dest-camunda-btp-integration
      - name: conn-camunda-btp-integration
    provides:
      - name: ui-binding # required by consumers of CAP services (e.g. approuter, ui)
        properties:
          ui-url: ${default-url}


resources:
  - name: uaa
    type: org.cloudfoundry.managed-service
    parameters:
      service: xsuaa
      service-plan: application
      path: ./core/xs-security.json
      config:
        xsappname: camunda-btp-integration 
        tenant-mode: dedicated
  - name: dest-camunda-btp-integration
    type: org.cloudfoundry.managed-service
    parameters:
      service-plan: lite
      service: destination
  - name: conn-camunda-btp-integration
    type: org.cloudfoundry.managed-service
    parameters:
      service-plan: lite
      service: connectivity